h1 {
color: black;
  font-size: 60px;
  padding-bottom: 15px;
}

.project-container {
  background-color: aqua;
  width:100vw;
  height:180vh;
  display:flex;
}

.project-container-left {
  background-color: blue;

}

.project-container-right{
  background-color: red;
}

.project-container-left, .project-container-right {
  width: 40%;
  height:90%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}

.project {
height: 30%;
width:80%;
background-color: purple;
margin:5% 10%;
}

.link-button {
  background-color: black;
  color: white;
  margin: 5% 10%;
  padding: 5%;
}


.project-header p {
  text-align:left;
  padding-left: 30px;
}

.project-header:first-letter {
  color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 65px;
  float: left;
  line-height: .9;
  padding-right: 3px;
  margin-left: .3em;
}

.project-header:hover:first-letter {
  color: pink;
  font-weight: bold;
  text-transform: uppercase;
}