/*sketch container*/

.sketch {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  top: 25vh;
}

.sketch > h1 {
  color: black;
  font-size: 60px;
  padding-bottom: 15px;
}

.sketch-header:first-letter{
  color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 55px;
  float: left;
  line-height: .9;
  padding-right: 10px;
}

.sketch-header:hover:first-letter{
  text-transform: uppercase;
  color: pink;
}

.sketch-port {
  padding: 30px 0px 30px 0px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.enlarge {
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  text-align: center;
}

.enlarge:hover {
  text-transform: uppercase;
}

.sketch-thumb:hover {
  opacity: .5;
  position: relative;
  z-index: 2;
}

.sketch-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sketch-big {
  padding: 10px;
}

.sketch-thumb{
  width: 20vw;
  height: 25vh;
}

