.profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-pic {
  height: 300px;
    width: 300px;
    padding: 15px;
}


/* skill part */

.skills {
  width: 300px;
}

.skills-head {
  font-family: 'Major Mono Display', monospace;
}

.skills-head:hover {
  text-transform: uppercase;
}

.skill-labels {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.skill-labels > div {
  padding: 1px;
}

.skills-labels > div:hover {
  color: pink;
}

  /*bio container*/

  .bio-container {
    padding-top: 60px;
    padding-right: 30px;
  }

  .intro {
    padding-left: 30px;
  }

  .drop-cap-graf:first-letter {
    color: black;
    font-family: 'Major Mono Display', monospace;
    font-size: 65px;
    float: left;
    line-height: .9;
    padding-right: 3px;
    margin-left: .3em;
  }

  .drop-cap-graf:hover:first-letter {
    color: pink;
    font-weight: bold;
    text-transform: uppercase;
  }

  .bio {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
  }



  .bio-copy {
    text-align: left;
  }

  .bio-copy > h1 {
    text-align: center;
  }