* {
  text-align: center;
  font-family: 'Ultra', serif;

}

a {
  text-decoration: none;
  color:black;
  margin: 10px;
}

.hero-page {
  position: relative;
  z-index: 2;
  top: 2vh;
}


  .name-parallax {
    position: relative;
    z-index: 1;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name-parallax h1, .scroll h2 {
    color:white;
    text-shadow: 2px 2px grey;
  }

  .letter {
    font-size: 90px;
  }

  /*scroll container*/

  .scroll {
    position: absolute;
    top: 0;
    bottom: 120px;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }



  .icons {
    width: 120px;
    display: flex;
    justify-content: space-around;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }


  .footer {
    height: 10vh;
    width: 100%;
    padding: 0px 30px 0px 30px;
    background: grey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 80px; */
    display:flex;
    justify-content: space-between;
  }

  .enlarge {
    font-size:2em;
  }

  .inspire {
    margin: 15vh 0;
    font-size: 1.5em;
  }

  .social img {
    width: 2em;
  }

  .social {
    margin-right: 40px;
  }

  .social img:hover {
    width: 50px;
  }